<div class="container">

  <aside class="sidebar">

    <h2>✈ Flight Planner</h2>

    <label for="from">From</label>

    <select id="from" [(ngModel)]="selectedFrom">

      <option *ngFor="let airport of airports" [value]="airport.code">

        {{ airport.city }} - {{ airport.code }}

      </option>

    </select>


    <label for="to">To</label>

    <select id="to" [(ngModel)]="selectedTo">

      <option *ngFor="let airport of airports" [value]="airport.code">

        {{ airport.city }} - {{ airport.code }}

      </option>

    </select>

<label for="flightDate">Flight Date</label>

<input id="flightDate" type="date" [(ngModel)]="flightDate">


<label for="flightTime">Flight Time</label>

<input id="flightTime" type="time" [(ngModel)]="flightTime">

    <button (click)="showRoute()">
      Show Route
    </button>


    <!-- Uçuş bilgileri -->

  <div class="flight-info">
  
    <h3>✈️ Flight Information</h3>
  
    <p>
      <strong>Distance:</strong>
      {{ mapComponent?.distanceKm }} km
    </p>
  
    <p>
      <strong>Estimated Flight Time:</strong>
      {{ mapComponent?.flightTime }}
    </p>
  
    <p>
      <strong>Flight Direction:</strong>
      {{ mapComponent?.flightBearing }}°
    </p>
  
    <p>
      <strong>☀️ Sun Direction:</strong>
      {{ mapComponent?.sunAzimuth }}°
    </p>
  
    <p>
      <strong>🪑 Recommended Side:</strong>
      {{ mapComponent?.sunSide }}
    </p>
  
  </div>

  </aside>


  <main class="map-area">

    <app-map></app-map>

  </main>

</div>